.App {
  text-align: center;
}

.body-container {
  background-color: #4a6fa5;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
